<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, maxime sapiente eius consectetur veniam, reprehenderit commodi earum adipisci illum culpa a aspernatur. Doloremque, ipsa! Voluptatem placeat in possimus ab dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aut aperiam ratione, ducimus laboriosam consectetur tenetur architecto obcaecati quaerat quisquam dolore, totam quis, fugiat velit autem beatae deserunt veritatis odit!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>